
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}



<div class="container">
    <h2>Hakkımızda</h2>
    <div class="row">
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.193981209069!2d29.091679115694344!3d40.182496277775215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3e80bf3bbca1%3A0xb4c4ebd5f0b8495f!2zWWVkaXNlbHZpbGVyLCAzLiDDh2VsZWJpIFNrLiBObzo5LCAxNjM0MCBZxLFsZMSxcsSxbS9CdXJzYQ!5e0!3m2!1str!2str!4v1614785688357!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-6 mx-2">
            <p>
                Yediselviler Mahallesi Çelebi Sokak No:9
                16340 Bursa, Bursa Merkez, Türkiye
            </p>
            <p>
                0545 820 85 33
            </p>
            <p>
                ArtsScrubs Tekstil Firması
            </p>
        </div>
    </div>
</div>